<!DOCTYPE html>
<html lang="es">


<body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>oscareo</h1>
                        <hr class="small">
                        <span class="subheading">Le vent se lève! . . . il faut tenter de vivre!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @articles.each do |article| %>
                    <div class="post-preview">
                        <!--Nuevos post-->
                            <a href="<%= article_path(article) %>">
                                
                                <h2 class="post-title">
                                    <%= article.title %>

                                </h2>
                                <h3 class="post-subtitle">
                                    <%= truncate(article.text, length: 100) %>
                                </h3>
                            </a>
                            <p class="post-meta">Posteado por: <a href="/">Oscar Orduz</a> <%= fecha(article.created_at) %>
                            </p>
                    </div>
                    <hr>
                <% end %>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>

# <%= link_to 'My Blog', controller: 'articles' %>